@font-face {
    font-family: segoesc;
    src: url(segoesc.ttf);
}
* {
  padding: 0;
  margin: 0;

}
.backgroundb{
   background-image: url("../img/banniere.svg");
   background-position: center;
}
.backgroundb2{
   background-image: url("../img/banniere2.svg");
   background-position: center;
}

body {
  font-family: 'Open Sans', sans-serif;
height: 100%;
  width: 100%;


  overflow: scroll;
  overflow-x: hidden;
}

html {
  padding: 0;
  margin: 0;
}

i {
  color: #428bca;
  transition-duration: .5s;
}

i:hover {
  transform: scale(1.25);
}

a {
    max-width: 200px!important;

}

a:link {
  text-decoration: none;

}

a:visited {
  text-decoration: none;

}

a:hover {
  text-decoration: none;

}

a:focus {
  text-decoration: none;

}
a:not([href]):not([tabindex]) {
    color: #fff!important;

}
a.sendReq {
  background-color: black;
  box-shadow: 3px 3px 7px #aaaaaa;
  transition-duration: .5s;
  padding: 0.5vh;
}
.black{
  background-color: black;
}
.current {

}

img {
  max-width: 40vw;
  max-height: 40vh;
}
label{
  /* display: block!important; */
}

li {
  list-style: none;
}

/*----------------------------------------------------
	 2. Document Setup
------------------------------------------------------*/
.fontold{
  font-family: segoesc!important;
}
.wrapper {
  width: 100%;
}

.spHeight {
  padding-top: 63px;
}

.container {
  max-width: 940px;
}

.noMar {
  margin: 0 !important;
}

.noPadd {
  padding: 0px !important;
}
.backgroundHead{
background: radial-gradient(#fff, #fff, #17A2B8);

  /* background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(39, 147, 182, 1)); */
}
.backgroundHead2{

background: radial-gradient(#fff, #fff, #17A2B8);
  /* background: linear-gradient(to left, rgba(39, 147, 182, 1), rgba(179, 228, 254, 1), rgba(255, 255, 255, 1), rgba(179, 228, 254, 1), rgba(39, 147, 182, 1)); */
}


h1, h3, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  line-height: 76px;
  font-weight: 500;
  margin: 0px;
  color: black;
  padding: 1vh;
  margin-top: 12vh!important;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: #000;
  padding-bottom: 10px;
  font-weight: 700;
}

h3 {
  /* color: #fff; */
}

h3 a {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
  margin: 0px;
  color: #fff;
}

h4 {

}

h5 {
  /* font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 400;
  margin: 0px; */

}

h4.subHeading {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 22px;
}

/*----------------------------------------------------
	3. Header Part
------------------------------------------------------*/

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/*----------------------------------------------------
	 Formulaire
------------------------------------------------------*/

form {
  padding: 1vw;
  align-content: center;

}
#moitie{
  width: 45%;
}
#div_alert{
  transition-duration: .5s;
  transform: scale(1);
}
#titre_2{
  display: none;
}
#myDIV{
  transition-duration: .5s;
  transform: scale(0);
}
#myDIV2{
    transition-duration: .5s;
    transform: scale(1);
}
span {
  /* color: #56ACCE; */
}

.imagePlanche {
  max-height: 185px;

  box-shadow: 3px 3px 7px #aaaaaa;
  display: flex;
}


.message {
  transition-duration: .4s;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: auto;
  background: url('images/black_40p.png');
  color: #000;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
.message:hover {
transform: scale(1.15);
}
.infoLog {
  color: #000;
  position: fixed;
  z-index: 999999;
  padding: 3vh;
  border-radius: 79px 0px 0px 79px;
background: linear-gradient(to top, rgba(246, 227, 14, 0.64), rgb(255, 126, 0));
  /* box-shadow: 3px 3px 7px #aaaaaa; */
}

.requete {
  box-shadow: -6px 1px 5px #aaaaaa;
  padding: 1vh;
  width: 50vw;
}
.page{
  position: relative!important;
}
input#fb{
  color: #ffffff;
  background-color: #45637E;
  border-color: #45637E;
}
#tete{
  display: flex;
  justify-content: flex-end;
}
.navitem{
width: 21%;
}

#boiteConnection{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  /* font-family: segoesc; */
  width: 100%;
}
#orange{
  background-color: #FF7100;
}
.orange {
  color: #FF7100;
}
#userHeader {
  height: 11vh;
}

#deco {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#menu_membre {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1vh;
  height: 38vh;
  position: relative;

}

#log {
  display: flex;
  width: 29vh;
  float: right;
  flex-direction: column;
  justify-content: center;
  height: 27vh;
}

#menu_user {
  justify-content: space-between;
  display: flex;

  position: relative;

}

#bouttonSaisie {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  color: rgba(211, 211, 211, 1);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  display: flex;
  justify-content: center;
}

#titre_main {
  width: 30vw;
  max-height: 25%;
  position: relative;
font-family: segoesc;
}

#descrip_site {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.messageUtil {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 23vw;
      margin-top: 10px;
}

.messageZoom {
  overflow: hidden;
  word-wrap: break-word;
  max-width: 36vw;
}

.zoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  padding-top: 3vh;
}



.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1vh;
  position: relative;
  text-align: center;
  align-items: center;
}

.red {
font-family: segoesc;
  padding-top: 12vh!important;
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #56ACCE;
}

.blanc {
  color: #ffffff;
}

.bBlanc {
  background-color: #fff;
  padding: 0.7vh;
  width: 40vw;
  box-shadow: 4px 3px 3px #aaaaaa;
border-radius: 6px;
}
navbar{
justify-content: center;

   background-image: url("../img/banniere.svg");
}
/*----------------------------------------------------
	 5. Les inputs !
------------------------------------------------------*/

/*----------------------------------------------------
	 5. Protfolio Style
------------------------------------------------------*/
ul{
  margin-bottom: 0!important;
}
.protfolio {
  color: #242424;
  width: 100%;
  overflow: hidden;
}
.portfolioFilter ul {
  margin: 0 auto;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 1vh;

}

.portfolioFilter ul li {
  padding: 16px 30px;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  border-right: none;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;

}
.portfolioFilter{
  font-family: 'Montserrat', sans-serif;
display: contents;
justify-content: space-around;
flex-wrap: wrap;
width: 72vw;
}
ul.portfolioContainer li {

    /* min-height: 400px; */

    background-color: #fff;

margin: 0.25vw;
}

ul.portfolioContainer li img {
max-width: 300px;
height: 136px;

  display: block;
}


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
input{
box-shadow: 2px 2px 5px #0009;
}

.connexition {
  padding: 1vh;
  transition-duration: .5s;
  display: flex;
  justify-content: space-around;
width: 100%;
}
.portfolioContainer{
/* left: 0.4vw; */
}

input {
font-weight: bold;
 font-size: large;

}
.zommImage{
max-height:35%!important;
max-width: 33%!important;
}

/*  le Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999999;
}

#status {
  width: 200px;
  height: 200px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/preloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

#status p {
  text-align: center;
}
